*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.grid{
    display: flex;
    flex-flow: row;
    width: 600px;
    height: 50px;
    border: 1px solid black;
    margin: 100px auto;
}
.grid div{
    width: 60px;
    height: inherit;
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
}

.exchange{
    background-color: red;
}